@charset "UTF-8";

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  font-weight: 400;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

@media (min-width: 768px) {
  a:hover {
    opacity: 0.6;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 2.1875rem;
}

.button-white-ghost {
  max-width: 21.675rem;
  padding: 0.9rem 1.2rem 0.75rem;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -2px;
  color: #005BAC;
  background-color: #FFFFFF;
  white-space: nowrap;
}

@media (min-width: 768px) {

  .button-white-ghost-header {
    display: inline-block;
    max-width: 26.175rem;
    padding: 0.9rem 2.5rem 0.75rem;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FFF;
    background: linear-gradient(to right, #0271E0 0%, #53A2F0 100%);
  }
}

html {
  scroll-behavior: smooth;
}

/* ヘッダー */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: 4.35rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 .625rem 0 rgb(112, 112, 112, 0.1);
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.8rem;
    height: 6.4rem;
    margin: 0 auto;
    right: 0.5rem;
    left: 0.5rem;
    padding: 1.512rem 2.51rem 1.587rem 1.31rem;
    box-shadow: 0 0.125rem 0 rgba(112, 112, 112, 0.1);
    z-index: 500;
  }
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: flex;
    align-items: center;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  padding-left: 1.1rem;
  justify-content: center;
  width: auto;
  line-height: 0;
}

@media (min-width: 768px) {
  .header-logo {
    min-width: 8rem;
  }
}

.header-logo img {
  position: relative;
  width: 10.3rem;
}

@media (min-width: 768px) {
  .header-logo img {
    width: 15rem;
  }
}

.hamburger-button {
  width: 4.36rem;
  height: 4.35rem;
  font-size: 3.025rem;
  background-color: #005BAC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

.hamburger-button i {
  line-height: 0;
}

/* ナビゲーション */

@media (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 4.36rem;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 20rem);
    background-color: #005BAC;
    transition: all 0.6s;
    transform: translateX(100%);
  }
}

.hamburger-menu-active {
  transform: translateX(0);
}

@media (max-width: 767px) {
  .hamburger-menu-list-group {
    display: table;
    width: 100vw;
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .header-nav-list-group {
    column-gap: 2.96rem;
    padding-right: 3.1rem;
    line-height: 1;
    white-space: nowrap;
    flex-wrap: wrap;
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-list-group a {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
    padding: 1.12rem 1rem;
    line-height: 1;
  }

  .hamburger-menu-list-group a::after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .button-white-ghost-icon {
    font-size: 1.7875rem;
  }

  @media (min-width: 768px) {
    .button-white-ghost-icon {
      font-size: 1.7875rem;
    }
  }

  .header-nav ul {
    margin-bottom: 2.1rem;
  }
}

@media (min-width: 768px) {
  .button-icon {
    display: none;
  }
}

.cover {
  position: relative;
  width: auto;
  top: 5rem;
  z-index: 0;
}

@media (min-width: 768px) {
  .cover {
    top: 6.4rem;
  }
}

.cover-item img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .cover-item img {
    width: 100%;
  }
}

.cover-pickup {
  position: absolute;
  bottom: 63.5%;
  left: 4.6%;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .cover-pickup {
    bottom: 63%;
    left: 30.9%;
    transform: translate(-65%);
  }
}

@media (min-width: 1440px) {
  .cover-pickup {
    bottom: 58.7%;
    left: 20.4%;
  }
}

.ranking {
  display: flex;
}

.frame-left {
  width: 1.4rem;
  margin-top: 0.05rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .frame-left {
    width: 1.9rem;
    margin-top: 0.05rem;
  }
}

@media (min-width: 1440px) {
  .frame-left {
    width: auto;
    min-width: 2.5rem;
    padding-top: 0.4rem;
    padding-left: 1rem;
    padding-right: 1.2rem;
    height: 10.5rem;
  }
}

.text-center {
  text-align: center;
}

.text-top {
  font-size: 0.687rem;
  color: #333;
  line-height: 1.2;
  padding-top: 0.28rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .text-top {
    font-size: 1.187rem;
    color: #333;
    line-height: 1.2;
    padding-top: 0.28rem;
  }
}

@media (min-width: 1440px) {
  .text-top {
    font-size: 1.25rem;
    padding: 0.6rem 0 0.7rem 0;
    white-space: nowrap;
    line-height: 1.5;
  }
}

.number {
  display: inline-block;
  font-size: 1.562rem;
  color: #F11F8D;
  font-weight: 800;
  font-style: italic;
  line-height: 1.2;
  text-align: left;
  margin-top: 0.8rem;
  margin-left: 0.2rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .number {
    display: inline-block;
    font-size: 2.062rem;
    color: #F11F8D;
    font-weight: 800;
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    margin-top: 0.8rem;
    margin-left: 0.2rem;
  }
}

@media (min-width: 1440px) {
  .number {
    display: inline-block;
    font-size: 3.375rem;
    margin-top: 0.2rem;
    margin-left: 1.08rem;
    white-space: nowrap;
  }
}

.text-center .nb {
  font-size: 2.25rem;
  color: #F11F8D;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
  line-height: 1.2;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .text-center .nb {
    font-size: 2.75rem;
    color: #F11F8D;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;
    line-height: 1.2;
  }
}

@media (min-width: 1440px) {
  .text-center .nb {
    font-size: 4.625rem;
  }
}

.frame-right {
  width: 1.4rem;
  margin-top: 0.05rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .frame-right {
    width: 1.9rem;
    margin-top: 0.05rem;
  }
}

@media (min-width: 1440px) {
  .frame-right {
    width: auto;
    min-width: 2.5rem;
    padding-top: 0.4rem;
    height: 10.5rem;
    padding-left: 1.2rem;
  }
}

.cover-pickup-text {
  position: absolute;
  bottom: 14.2%;
  left: 4.3%;
}

.cover-catch-1 {
  font-weight: 400;
  color: #333;
  font-size: 0.875rem;
  line-height: 1.2;
}

.cover-catch-2 {
  font-weight: 800;
  font-size: 1.5625rem;
  color: #005BAC;
  line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .cover-pickup-text {
    bottom: -2.5%;
    left: 35.3%;
    transform: translate(-70%);
  }

  .cover-catch-1 {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
  }

  .cover-catch-2 {
    font-size: 2.8rem;
    line-height: 1.35;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1440px) {
  .cover-pickup-text {
    bottom: 20.9%;
    left: 36.6%;
    transform: translate(-70%);
  }

  .cover-catch-1 {
    font-size: 2.0625rem;
    margin-bottom: 0.7rem;
  }

  .cover-catch-2 {
    font-size: 3.75rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
  }
}

.three-button-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.65rem;
  margin: 5rem auto 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .three-button-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.65rem;
    margin: 8rem auto 0;
  }
}

@media (min-width: 1440px) {
  .three-button-group {
    position: relative;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    z-index: 100;
  }
}

.button-one {
  margin-top: 1.4rem;
}

@media (min-width: 768px) {
  .button-one {
    margin-top: 0;
  }
}

.button-one a {
  display: inline-block;
  background-color: #77CB33;
}

.button-two a {
  display: inline-block;
  background-color: #F6AA00;
}

.button-three a {
  display: inline-block;
  background-color: #3AC8AD;
}

.three-button-group .button-white-ghost {
  width: 100rem;
  display: block;
  text-align: center;
  border-radius: 1.875rem;
  max-width: 15.675rem;
  height: 3.1rem;
  padding: 0.55rem 1.2rem 0.75rem;
  margin: 0 auto;
  font-size: 1rem;
  font-family: bold;
  letter-spacing: -0.2px;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .three-button-group .button-white-ghost {
    max-width: 18.775rem;
    height: 3.6rem;
    padding: 0.75rem 1.2rem 0.75rem;
  }
}

@media (min-width: 1440px) {
  .three-button-group .button-white-ghost {
    display: block;
    width: 100rem;
    max-width: 21.675rem;
    height: 4.7rem;
    padding: 0.9rem 2.5rem 0.9rem;
    font-size: 1.5rem;
    border-radius: 2.575rem;
  }
}

.feature {
  margin: 1rem auto 0;
  padding: 0 1rem 0;
}

@media (min-width: 768px) {
  .feature {
    margin: 1rem auto 3.3rem;
  }
}

.feature-container {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .feature-container {
    padding: 2.94rem 0 0.08rem;
    line-height: 1.71;
  }
}

.title-Kira-Kira {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  .title-Kira-Kira {
    font-size: 2.25rem;
    margin-bottom: 0.3rem;
  }
}

.span-text {
  color: #333333;
}

.title-nb {
  font-size: 2.5rem;
  color: #F11F8D;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  .title-nb {
    font-size: 3.375rem;
  }
}

.feature-img {
  display: flex;
  flex-direction: column;
  gap: 0.975rem;
}

@media (min-width: 768px) {
  .feature-img {
    display: flex;
    flex-direction: column;
    gap: 1.35rem;
    align-items: center;
  }
}

.feature-container-pc,
.feature-container-pc-2 {
  width: 100%;
}

@media (min-width: 768px) {

  .feature-container-pc,
  .feature-container-pc-2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: 73.25rem;
    /* ← ここが超重要 */
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .feature-container-pc-2 {
    flex-direction: row-reverse;
  }

  .point {
    width: 50%;
  }
}

.point img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  padding: 1.1rem 0 .3rem;
}

.feature-3 img {
  padding: 0.1rem 0 0.4rem 0;
}

@media (min-width: 768px) {
  .feature-3 img {
    padding: 1.2rem 0 1.3rem 0;
  }
}

@media (min-width: 768px) {
  .point img {
    width: 100%;
    max-width: 99.2%;
    height: auto;
    object-fit: cover;
    display: block;
  }
}

@media (min-width: 768px) {
  .feature-container-pc-2 .point img {
    width: 100%;
    max-width: 99.7%;
    height: auto;
    object-fit: cover;
    display: block;
    padding-left: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

.feature-text {
  margin-top: 0.625rem;
}

@media (min-width: 768px) {
  .feature-text {
    width: 50%;
    padding: 0.7rem 0rem 0rem 0rem;
    box-sizing: border-box;
    line-height: 1.8;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .text2 {
    width: 50%;
    padding: 0.9rem 0rem 0 0rem;
    box-sizing: border-box;
    line-height: 1.8;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .text3 {
    width: 50%;
    padding: 0.8rem 0rem 0 0.1rem;
    box-sizing: border-box;
    line-height: 1.8;
    text-align: left;
  }
}

.feature-namber {
  font-size: 1.5rem;
  line-height: 1;
  color: #F11F8D;
  font-weight: 700;
  font-style: italic;
  padding-left: .1rem;
  padding-bottom: 0.4rem;
}

@media (min-width: 768px) {
  .feature-namber {
    font-size: 1.75rem;
    line-height: 1.6;
    padding: 0.4rem 0rem 0.3rem 0rem;
  }
}

.Point-nb {
  font-size: 2.25rem;
  line-height: 1;
  color: #F11F8D;
  font-weight: 700;
  font-style: italic;
}

@media (min-width: 768px) {
  .Point-nb {
    font-size: 2.625rem;
    line-height: 1;
  }
}

.feature-top {
  font-size: 1.25rem;
  color: #333333;
  font-weight: bold;
  padding-bottom: 0.63rem;
  line-height: 1.65;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  .feature-top {
    font-size: 1.5rem;
    color: #333333;
    padding-bottom: 0.93rem;
    line-height: 1.25;
    letter-spacing: 0.2px;
  }
}

@media (min-width: 768px) {
  .text2 .feature-namber {
    padding: 0.18rem 0rem 0rem 0rem;
  }
}

.text3 .feature-namber {
  line-height: 0.99;
}

@media (min-width: 768px) {
  .text3 .feature-namber {
    font-size: 1.75rem;
    line-height: 1.7;
    padding: 0.3rem 0rem 0rem 0rem;
  }
}

.feature-bottom {
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  padding-bottom: 0.33rem;
  line-height: 1.75;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  .feature-bottom {
    font-size: 1rem;
    padding-bottom: 3rem;
    padding: 0.25rem 0rem 2.4rem 0rem;
    letter-spacing: 0.1px;
    line-height: 1.73;
  }
}

.text2 .feature-top {
  font-size: 1.25rem;
  color: #333333;
  font-weight: bold;
  padding-bottom: 0.43rem;
  line-height: 1.6;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  .text2 .feature-top {
    font-size: 1.5rem;
    color: #333333;
    font-weight: bold;
    padding-bottom: 0.53rem;
    line-height: 1.7;
    letter-spacing: 0.1px;
  }
}

.text2 .feature-bottom {
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  padding-bottom: 1.43rem;
  line-height: 1.75;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  .text2 .feature-bottom {
    font-size: 1rem;
    padding-bottom: 0.33rem;
    line-height: 1.75;
    letter-spacing: 0.2px;
  }
}

.text3 .feature-top {
  padding-bottom: 0.71rem;
  line-height: 1.43;
  letter-spacing: 0px;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .text3 .feature-top {
    padding-bottom: 0.91rem;
    line-height: 1.73;
    letter-spacing: 0px;
    font-size: 1.5rem;
  }
}

.feature-container-pc:nth-of-type(3) .feature-bottom {
  padding-bottom: 2.01rem;
  line-height: 1.76;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  .feature-container-pc:nth-of-type(3) .feature-bottom {
    padding: 0rem 0rem 0.41rem;
    line-height: 1.8;
    letter-spacing: 0.1px;
  }
}

.application {
  background-color: rgba(255, 85, 85, 0.1);
  margin: 0 auto;
  width: 100%;
  height: 13.325rem;
}

@media (min-width: 768px) {
  .application {
    height: 14.425rem;
  }
}

.application-inner {
  margin: 0 auto;
  width: 80%;
  padding-top: 2.4rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .application-inner {
    padding-top: 1.88rem;
    font-size: 1rem;
    letter-spacing: 0px;
  }
}

@media (min-width: 768px) {
  .registration-text {
    padding: 1.4rem 0 0.5rem 0;
  }
}

.registration-bottom-1 {
  text-align: center;
  max-width: 100%;
  padding-top: 0.64rem;
}

@media (min-width: 768px) {
  .registration-bottom-1 {
    padding-top: 0.68rem;
  }
}

.registration-bottom-1 .button-white-ghost {
  max-width: 19.075rem;
  padding: 1.1rem 1.2rem 0.95rem;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  background: linear-gradient(to right, #0271E0 0%, #53A2F0 100%);
  white-space: nowrap;
}

@media (min-width: 768px) {
  .registration-bottom-1 .button-white-ghost {
    display: block;
    width: 100%;
    min-width: 22.4rem;
    padding: 0.9rem 0 1.15rem 1rem;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.2px;
  }
}

.course {
  width: auto;

}

.course .container {
  padding-top: 3.7rem;
  max-width: 67.5rem;
  margin: auto;
  text-align: center;
  padding-bottom: 4rem;
}

@media (min-width: 768px) {
  .course .container {
    padding-top: 4.15rem;
    padding-bottom: 4.55rem;
    max-width: 72.5rem;
  }
}

.course .section-title {
  color: #333333;
  margin: 0 auto 1.1rem;
  padding-left: 1rem;
  font-size: 1.75rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .course .section-title {
    margin-bottom: 1.58rem;
    font-size: 2.25rem;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .section-title::after {
    margin: 0.63rem auto 0;
    width: 23.2%;
    height: 0.15rem;
  }
}

.st-theme-basic {
  border: none;
}

.tab.st>.nav {
  column-gap: 0.55rem;
  flex-direction: row !important;
  font-size: 1.125rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .tab.st>.nav {
    column-gap: 1.45rem;
    flex-direction: row !important;
    font-size: 1.125rem;
  }
}

.tab.st-theme-basic>.nav {
  box-shadow: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.nav {
    margin-left: 0;
    margin-right: 0;
  }
}

.tab.st-theme-basic>.nav .nav-link {
  padding-top: 1.4rem;
  padding-bottom: 1.55rem;
  line-height: 1;
  background-color: #F0F0F0;
  color: rgba(51, 51, 51, 0.5);
  border-radius: 0.75rem 0.75rem 0 0;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.nav .nav-link {
    padding-top: 1.15rem;
    padding-bottom: 1.4rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.tab.st-theme-basic>.nav .nav-link.active {
  color: #333333 !important;
  background-color: #F2F9FF;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
  background-color: unset !important;
}

.st-theme-basic>.nav .nav-link.active::after {
  content: none !important;
  display: none !important;
}

.tab.st-theme-basic>.tab-content {
  text-align: center;
  background-color: #F2F9FF;
  padding-right: 1.05rem;
  padding-left: 1.05rem;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.tab-content {
    text-align: center;
    background-color: #F2F9FF;
    padding-right: 1.05rem;
    padding-left: 1.05rem;
  }
}

.course-tab-content-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 0.3rem 0 0.75rem 0;
}

@media (min-width: 768px) {
  .course-tab-content-title {
    margin-top: 0.47rem;
    font-size: 1.15rem;
    line-height: 1.22;
  }
}

.course-tab-content-title .button-icon {
  font-size: 1.75rem;
  transform: translateX(-0.3em);
  color: #005BAC;
  letter-spacing: -7.7px;
}

@media (min-width: 768px) {
  .course-tab-content-title .button-icon {
    display: inline-block;
    font-size: 2.05rem;
    line-height: 1.22;
    letter-spacing: -3.4px;
  }
}

div .first {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

@media (min-width: 768px) {
  div .first {
    font-size: 1.25rem;
  }
}

.tab.st-theme-basic>.tab-content>.tab-pane {
  flex-direction: column;
  row-gap: 0.85rem;
  background-color: #F2F9FF;
  padding: 2rem 0 2.4rem;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.tab-content>.tab-pane {
    flex-direction: row;
    padding: 1.75rem 1.05rem 0.8rem 1.05rem;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .course-tab-content-item {
    width: calc(50% - 0.85rem);
  }
}

.course-tab-content-item img {
  width: 100%;
  border-radius: 0.75rem;
  aspect-ratio: 3 / 1.9;
  object-fit: cover;
}

@media (min-width: 768px) {
  .course-tab-content-item img {
    width: 100%;
    border-radius: 0.75rem;
    aspect-ratio: 3 / 1.85;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .tab-pane {
    flex-direction: column;
    gap: 1.68rem;
  }
}

.pricing-plan {
  width: auto;
  margin-bottom: 3.98rem;
}

@media (min-width: 768px) {
  .pricing-plan {
    margin-bottom: 4.5rem;
  }
}

.title-price {
  text-align: center;
  padding: 3.6rem 0 1.08rem 0.8rem;
}

@media (min-width: 768px) {
  .title-price {
    text-align: center;
    padding: 4.13rem 0 1.65rem;
  }
}

.title-pricing-plan {
  display: inline-block;
  text-align: center;
  font-size: 1.75rem;
  color: #333333;
  font-weight: bold;
}

@media (min-width: 768px) {
  .title-pricing-plan {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  .title-price {
    display: inline-block;
    text-align: center;
    font-size: 2.25rem;
  }
}

.plan-container {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  max-width: 23.35rem;
}

@media (min-width: 768px) {
  .plan-container {
    max-width: 39.5rem;
  }
}

.price-table {
  width: 100%;
  border-collapse: collapse;
  border: 0.1875rem solid #ddd;
}

@media (min-width: 768px) {
  .price-table {
    width: 100%;
    border-collapse: collapse;
    border: 0.1875rem solid #ddd;
  }
}

@media (min-width: 768px) {

  .price-table th:first-child,
  .price-table td:first-child {
    width: 24%;
  }
}

.price-table-1 th,
.price-table-1 td {
  border: 0.0625rem solid #ddd;
  text-align: left;
  padding: 0.975rem 0rem 0.995rem 0rem;
  line-height: 1.7;
  text-align: center;
}

@media (min-width: 768px) {

  .price-table-1 th,
  .price-table-1 td {
    text-align: left;
    padding: 0.375rem 0.55rem 0.345rem 0.55rem;
    line-height: 1.5;
    text-align: center;
  }
}

.price-table-1 tr:nth-of-type(2) td {
  padding: 0.425rem 0.025rem 0rem 0.05rem;
}

@media (min-width: 768px) {
  .price-table-1 tr:nth-of-type(2) td {
    padding: 0.88rem 0.625rem 0.55rem 0.45rem;
  }
}

.price-table-1 tr:nth-of-type(3) td {
  padding: 0.623rem 0.525rem 0rem 0.25rem;
}

@media (min-width: 768px) {
  .price-table-1 tr:nth-of-type(3) td {
    padding: 0.9rem 0.625rem 0.5rem 0.45rem;
  }
}

.price-table-1 tr:nth-of-type(4) td {
  padding: 0.5rem 0.625rem 0rem 0.65rem;
}

@media (min-width: 768px) {
  .price-table-1 tr:nth-of-type(4) td {
    padding: 0.495rem 0.625rem 0.55rem 0.45rem;
  }
}

.price-table-1 tr:nth-of-type(5) td {
  padding: 0.4rem 0.225rem 0rem 0.45rem;
}

@media (min-width: 768px) {
  .price-table-1 tr:nth-of-type(5) td {
    padding: 0.595rem 0.625rem 0.25rem 0.45rem;
  }
}

.price-table-1 tr:nth-of-type(6) td {
  padding: 0.1rem 0.625rem 0rem 0.45rem;
}

@media (min-width: 768px) {
  .price-table-1 tr:nth-of-type(6) td {
    padding: 0.895rem 0.625rem 0.55rem 0.45rem;
  }
}

.price-table-1 tr:nth-of-type(7) td {
  padding: 0.15rem 1.025rem 0rem 0.05rem;
}

@media (min-width: 768px) {
  .price-table-1 tr:nth-of-type(7) td {
    padding: 0.795rem 0.625rem 0.45rem 0.45rem;
  }
}

.plan-text1-left {
  font-size: 1rem;
  background-color: #f5f5f5;
  color: #333;
  font-weight: 400;
}

@media (min-width: 768px) {
  .plan-text1-left {
    font-size: 1.125rem;
  }
}

.plan-text1-right {
  font-size: 1rem;
  background-color: #f5f5f5;
  color: #333;
  font-weight: 400;
}

@media (min-width: 768px) {
  .plan-text1-right {
    font-size: 1.125rem;
  }
}

.cost-1 {
  padding: 0.2rem 0rem 0.2rem 0.2rem;
  line-height: 1.7;
}

.cost-2 {
  padding: 0.2rem 0.7rem 0.2rem 0.2rem;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .cost-1 {
    padding: 0.2rem 0rem 0.2rem 0.2rem;
    line-height: 1.7;
  }

  .cost-2 {
    padding: 1rem 0.2rem 1rem 0.2rem;
    line-height: 1.7;
  }
}

.plan-text1-1 {
  font-size: 1rem;
  color: #333333;
  padding-top: 1rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .plan-text1-1 {
    font-size: 1.125rem;
    padding-top: 1rem;
  }
}

.course-1 {
  padding: 0.3rem 0.2rem 0.9rem 0.4rem;
  line-height: 2.2;
}

@media (min-width: 768px) {
  .course-1 {
    padding: 0.7rem 0rem 0.8rem 0.1rem;
    line-height: 1.7;
  }
}

.course-2 {
  padding: 0.3rem 0.6rem 0.9rem 1.1rem;
  line-height: 2.2;
}

@media (min-width: 768px) {
  .course-2 {
    padding: 0.7rem 0rem 0.8rem 0.1rem;
    line-height: 1.7;
  }
}

.course-3 {
  padding: 0.4rem 0.6rem 0.9rem 0.8rem;
  line-height: 2.2;
}

@media (min-width: 768px) {
  .course-3 {
    padding: 0.7rem 0rem 0.8rem 0.1rem;
    line-height: 2.2;
  }
}

.course-4 {
  padding: 0.4rem 0.6rem 0.9rem 0.6rem;
  line-height: 2.2;
}

@media (min-width: 768px) {
  .course-4 {
    padding: 0.7rem 0rem 1.2rem 0.1rem;
    line-height: 1.7;
  }
}

.course-5 {
  padding: 0.9rem 0.6rem 0.8rem 1.1rem;
  line-height: 2.2;
}

@media (min-width: 768px) {
  .course-5 {
    padding: 0.7rem 0rem 0.8rem 0.1rem;
    line-height: 1.7;
  }
}

.course-6 {
  padding: 0.7rem 0.6rem 0.75rem 1.7rem;
  line-height: 2.2;
}

@media (min-width: 768px) {
  .course-6 {
    padding: 0.7rem 0rem 0.8rem 0.1rem;
    line-height: 1.7;
  }
}

.price-text {
  color: #F23397;
  font-size: 1.75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

@media (min-width: 768px) {
  .price-text {
    font-size: 2rem;
    padding: 0rem 0rem 0rem 0rem;
  }
}

.price-1 {
  line-height: 0.7;
  padding: 0.5rem 1rem 0.3rem 0.6rem;
}

@media (min-width: 768px) {
  .price-1 {
    line-height: 0.9;
    padding: 0rem 0rem 0rem 0rem;
  }
}

.price-2 {
  line-height: 0.9;
  padding: 0.6rem 1rem 0.3rem 0.8rem;
}

@media (min-width: 768px) {
  .price-2 {
    line-height: 0.9;
    padding: 0rem 0rem 0rem 0rem;
  }
}

.price-3 {
  line-height: 0.9;
  padding: 0.8rem 1rem 0.3rem 0.6rem;
}

@media (min-width: 768px) {
  .price-3 {
    line-height: 1;
    padding: 0rem 0rem 0rem 0rem;
  }
}

.price-4 {
  line-height: 0.9;
  padding: 0.8rem 1rem 0.3rem 0.6rem;
}

@media (min-width: 768px) {
  .price-4 {
    line-height: 0.8;
    padding: 0rem 0rem 0rem 0rem;
  }
}

.price-5 {
  line-height: 0.9;
  padding: 0.8rem 0.6rem 0.3rem 0.6rem;
}

@media (min-width: 768px) {
  .price-5 {
    line-height: 0.9;
    padding: 0rem 0rem 0rem 0rem;
  }
}

.price-6 {
  line-height: 0.9;
  padding: 0.6rem 0.2rem 0.1rem 2.1rem;
}

@media (min-width: 768px) {
  .price-6 {
    line-height: 0.9;
    padding: 0rem 0rem 0rem 0rem;
  }
}

.en {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
  color: #F23397;
}

@media (min-width: 768px) {
  .en {
    font-size: 1.125rem;
  }
}

.footer {
  width: 100%;
  height: auto;
}

.information {
  width: 100%;
}

.information-inner-content {
  display: flex;
  flex-direction: column;
}

.information-inner-item {
  width: 100%;
}

.information-item {
  position: relative;
}

.information-item img {
  aspect-ratio: 15 / 6.8;
  object-fit: cover;
}

@media (min-width: 768px) {
  .information-item img {
    aspect-ratio: 15 / 5;
  }
}

.information-item img {
  width: 100%;
  height: auto;
  display: block;
}

.information-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
}

@media (min-width: 768px) {
  .information-text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.1rem;
  }
}

.information-text a {
  color: #fff;
  font-size: 1.375rem;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 768px) {
  .information-text a {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .information-inner-content {
    flex-direction: row;
  }

  .information-inner-item {
    width: 50%;
  }

  .information-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.information-item {
  overflow: hidden;
}

.information-item img {
  transform-origin: center;
  transition: transform 0.3s ease;
  z-index: 1;
}

.information-text {
  z-index: 2;
}

@media (min-width: 768px) {
  .information-item:hover img {
    transform: scale(1.2);
  }
}

.footer-inner {
  margin: 0 auto;
  padding: 1.5rem 1rem 1.9rem;
  text-align: center;
  background-color: #DDDDDD;
}

@media (min-width: 768px) {
  .footer-inner {
    margin: 0 auto;
    padding: 2.7rem 1rem 3rem;
    text-align: center;
    background-color: #DDDDDD;
  }
}

.footer-text {
  font-size: 0.8125rem;
  color: #333333;
  line-height: 1.2;
  letter-spacing: -0.2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  .footer-text {
    font-size: 0.8125rem;
    color: #333333;
    line-height: 1.2;
    letter-spacing: -0.2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
}

